USE [master]
GO
/****** Object:  Database [webPhimhhs]    Script Date: 3/28/2021 10:53:41 PM ******/
CREATE DATABASE [webPhimhhs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webPhimhhs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\webPhimhhs.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'webPhimhhs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\webPhimhhs_log.ldf' , SIZE = 5824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webPhimhhs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webPhimhhs]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[IDAC] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cacTap]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cacTap](
	[tap] [nvarchar](50) NULL,
	[IDP] [nvarchar](50) NOT NULL,
	[Link] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[IDP] [nvarchar](50) NOT NULL,
	[IDAC] [nvarchar](50) NOT NULL,
	[BinhLuan] [text] NOT NULL,
	[name] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[New]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [text] NOT NULL,
	[Content] [text] NOT NULL,
	[title] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phim]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[IDP] [nvarchar](50) NOT NULL,
	[TenPhim] [text] NOT NULL,
	[TheLoai] [text] NOT NULL,
	[Poster] [text] NOT NULL,
	[Image] [text] NOT NULL,
	[DienVien] [nvarchar](50) NOT NULL,
	[timePost] [date] NOT NULL,
	[MoTa] [text] NOT NULL,
	[Trailer] [text] NOT NULL,
	[luotView] [int] NULL,
	[Rate] [int] NULL,
	[Anhdienvien] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Uathich]    Script Date: 3/28/2021 10:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uathich](
	[IDP] [nvarchar](50) NOT NULL,
	[IDAC] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([IDAC], [Username], [Pass], [ChucVu], [status]) VALUES (N'A01', N'Admin', N'12', N'1', N'on')
INSERT [dbo].[Account] ([IDAC], [Username], [Pass], [ChucVu], [status]) VALUES (N'U01', N'nguyenxuanhung', N'12', N'2', N'on')
INSERT [dbo].[Account] ([IDAC], [Username], [Pass], [ChucVu], [status]) VALUES (N'U02', N'vuhongson', N'12', N'2', N'on')
INSERT [dbo].[cacTap] ([tap], [IDP], [Link]) VALUES (N'1', N'P01', N'https://drive.google.com/uc?id=1U66_izFWgbZD7wxA_fzsAPUr-BPq5UyS')
INSERT [dbo].[cacTap] ([tap], [IDP], [Link]) VALUES (N'1', N'P02', N'https://drive.google.com/uc?id=1UihBZCYZ-ikqc5_xtbT7O3AQZLM55H1I')
INSERT [dbo].[cacTap] ([tap], [IDP], [Link]) VALUES (N'1', N'P03', N'https://drive.google.com/uc?id=13PYnDPrZazc89d2DjmmouMN0QqOG3DAq')
INSERT [dbo].[Comment] ([IDP], [IDAC], [BinhLuan], [name]) VALUES (N'P01', N'U01', N'Nguyen xuan hung', N'nguyenxuanhung')
INSERT [dbo].[Comment] ([IDP], [IDAC], [BinhLuan], [name]) VALUES (N'P14', N'A01', N'Type your comment here.', N'Admin')
INSERT [dbo].[Comment] ([IDP], [IDAC], [BinhLuan], [name]) VALUES (N'P14', N'A01', N'alo', N'Admin')
SET IDENTITY_INSERT [dbo].[New] ON 

INSERT [dbo].[New] ([ID], [Image], [Content], [title]) VALUES (15, N'https://drive.google.com/uc?id=1mTbmRed0F0Baeb5wXvPCURpoeVTs5F1R', N' “Bo Gia” (Old Father), a family movie starring comedian and TV host Tran Thanh, has become the bestselling Vietnamese movie in the country’s cinema history after its ticket sales reached VND200 billion on March 14.', N'Old Father')
INSERT [dbo].[New] ([ID], [Image], [Content], [title]) VALUES (16, N'https://drive.google.com/uc?id=1KuEi6vBi9kWjm1l32QQO5rAzEnv-2Ud0', N' Long ago, in the fantasy world of Kumandra, humans and dragons lived together in harmony. However, when sinister monsters known as the Druun threatened the land, the dragons sacrificed themselves to save humanity', N'Raya and the Last Dragon')
SET IDENTITY_INSERT [dbo].[New] OFF
INSERT [dbo].[Uathich] ([IDP], [IDAC]) VALUES (N'P25', N'U01')
INSERT [dbo].[Uathich] ([IDP], [IDAC]) VALUES (N'P03', N'U01')
INSERT [dbo].[Uathich] ([IDP], [IDAC]) VALUES (N'P10', N'U01')
ALTER TABLE [dbo].[cacTap]  WITH CHECK ADD FOREIGN KEY([IDP])
REFERENCES [dbo].[Phim] ([IDP])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([IDP])
REFERENCES [dbo].[Phim] ([IDP])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([IDAC])
REFERENCES [dbo].[Account] ([IDAC])
GO
ALTER TABLE [dbo].[Uathich]  WITH CHECK ADD FOREIGN KEY([IDAC])
REFERENCES [dbo].[Account] ([IDAC])
GO
ALTER TABLE [dbo].[Uathich]  WITH CHECK ADD FOREIGN KEY([IDP])
REFERENCES [dbo].[Phim] ([IDP])
GO
USE [master]
GO
